body {
    font-family: "Meiryo", sans-serif;
    background-color: #3e90e1;
    margin: 0;
    padding: 0;
}

#main {
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #43a047;
}

small {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.input-area {
    display: flex;
    gap: 10px;
    align-items: center; 
}

.input-area input,
.input-area button {
    height: 40px;
    line-height: 40px;          
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 12px;
    margin: 0;
}

.input-area input {
    flex: 1;
}

.input-area button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#list {
    list-style: none;   /* ・を消す */
    padding: 0;
    margin-top: 10px;
}

#list li {
    
    width: 500px;
    margin:  auto;
    margin-top: 10px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#list li span {
    flex: 1;             
    margin-right: 10px;
}


#list li button {
    background-color: #e53935;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap;  
}